html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  line-height: 18px;
}

a.no-underline:link {
}

.btn-close {
  margin-left: 7px;
  padding-bottom: 1px;
  vertical-align: middle;
}

p, blockquote {
  margin-bottom: 10px;
}

a {
  color: #1683d0;
  text-decoration: none;
}

a:link {
  color: #1683d0;
  text-decoration: none;
}

a:hover {
  color: #0c2c52;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

li {
  list-style-type: none;
  margin-bottom: 5px;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  list-style-type: none;
  margin-bottom: 5px;
}

.incoming-links__list {
  max-height: 143px;
  overflow-y: auto;
}

.entity-sidebar__incoming-links {
  color: #8091a5;
}

.incoming-links__item {
  margin-left: 20px;
  list-style-type: disc;
}

.incoming-links__message {
  margin-bottom: 5px;
}

.incoming-links__link {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
  text-decoration: none !important;
}

 p, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}